<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<section>

  <mat-card>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="showCreateProductDialog()">Nuevo Producto</button>
    </mat-card-actions>
  </mat-card>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Category id Column -->
    <ng-container matColumnDef="categoryName">
      <th mat-header-cell *matHeaderCellDef> Category</th>
      <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef aria-label="">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="click options">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="showUpdateProductDialog(element.id)">
            <span>Modificar</span>
          </button>
          <button mat-menu-item (click)="showDeleteProductDialog(element.id)">
            <span>Eliminar</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
